<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Media and file access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <!-- Camera access -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Device features -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Network access -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Audio recording for voice messages -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application android:supportsRtl="true">
        <activity
            android:name=".usermanage.friend.mine.profile.MyProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".usermanage.friend.add.AddFriendListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".usermanage.friend.user.profile.UserProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".usermanage.friend.apply.ApplyFriendListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".usermanage.friend.mine.gender.UpdateGenderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".usermanage.friend.mine.nickname.UpdateNickNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Channel list -->
        <activity
            android:name=".channellist.ChannelListActivity"
            android:screenOrientation="portrait" />

        <!-- Channel details -->
        <activity
            android:name=".channel.ChannelActivity"
            android:screenOrientation="portrait" />

        <!-- Subchannel list -->
        <activity
            android:name=".channel.subchannel.SubChannelListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".channel.feature.mention.MentionMemberSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".activity.NCWebviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FilePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PicturePagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WebFilePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CombinePicturePagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".channel.feature.combineforward.CombineMessagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GIFPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Picture selector components -->
        <provider
            android:name=".picture.PictureFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nc_file_path" />
        </provider>

        <activity
            android:name=".picture.PictureSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picture.PictureSelectorCameraEmptyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Picture.Theme.Translucent" />

        <activity
            android:name=".picture.PicturePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picture.PictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.friend.select.FriendSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.create.GroupCreateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.profile.GroupProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.add.AddGroupMembersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.remove.RemoveGroupMembersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.nickname.GroupNicknameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.notice.GroupNoticeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.memberlist.GroupMemberListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.friend.friendlist.FriendListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.friend.search.FriendSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.name.GroupNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.manage.GroupManagementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.managerlist.GroupManagerListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.mention.GroupMentionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.follows.GroupFollowsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.memberselect.impl.GroupAddFollowsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.memberselect.impl.GroupAddManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.transfer.GroupTransferActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.list.GroupListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usermanage.group.search.GroupSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".usermanage.group.application.GroupApplicationsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".channel.readreceipt.MessageReadDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- Short video -->
        <activity
            android:name=".shortvideo.player.ShortVideoPlayerActivity"
            android:hardwareAccelerated="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:supportsRtl="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/sight/player"
                    android:scheme="nc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortvideo.player.ShortVideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shortvideo.record.ShortVideoRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- EmojiCompat automatic initialization -->
        <provider
            android:name=".emoji.EmojiInitProvider"
            android:authorities="${applicationId}.nc.EmojiInitProvider" />


        <meta-data
            android:name="rc.nexconnchat"
            android:value="ai.nexconn.chatui.NCChatUI"
            tools:replace="android:value" />
    </application>
</manifest>
